body{
    background-color: rgba(21, 21, 155, 0.667);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 20px;
}
.head {
  height: 20vh;
  align-content: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
h1 {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}
audio{
    width: 50px;
}
p{
    font-size: 100px;
    font-weight: 800;
}